@font-face {
    font-family: cocaColaFont;
    src: url(../assets/fonts/loki_cola/LOKICOLA.TTF);
    }
@font-face {
    font-family: Oswald;
    src: url(../assets/fonts/Oswald/static/Oswald-Regular.ttf);
}
@font-face {
font-family: OpenSans;
src: url(../assets/fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
@font-face {
    font-family: fontAwesome;
    src: url(../assets/fonts/fontawesome-free-6.5.2-web/webfonts/fa-brands-400.ttf);
    }



 p {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: rgb(232, 236, 163);
    font-size:16px;
    }
.main_contents {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom:5px;
}



.container{
    max-width: 100%;
}

#main_3d_image {
    background-image: url(../assets/images/main_3D.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* The div block for the main_3d_image has no vertical size,
    so we need a height to see the background image */
    height: 500px;
    }
#main_text {
    float: left;
    margin: 4%;
    width: 50%;
    display: block;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 5px;
}
#main_text h2 {
    color: rgb(255, 0, 0);
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 5px;
}
#main_text h3 {
    color: #3399ff;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#main_text p {
    font-size: 17px;
    margin: 0px;
    line-height: 1.2;
}

.card {
    border: 0px;
    border-radius: .25rem;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(236, 163, 218);
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.card-text {
    font-size: 13px;
}
.drinksText > h2 {
    color: #030303;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 5px;
}
.drinksText > h3 {
    color: #030303;
    font-size: 15px;
    margin-top: 0%;
    margin-bottom: 5px;
}
.drinksText > p {
    color: #030303;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.logo {
    margin-top: 20px;
    margin-left: 20px;
    }
    .logo h1 {
        font-family: cocaColaFont;
        font-size: 50px;
        margin: 0;
        margin-top: -10px;
        margin-bottom: -15px;
        float: left;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 2px;
    }
    .logo h2 {
        font-family: cocaColaFont;
        font-size: 50px;
        margin-top: -4px;
        margin-bottom: -15px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 3px;
        float: left;
    }
    .logo h3 {
        font-size: 25px;
        margin-top: 8px;
        margin-bottom: -5px;
        padding-top: 0px;
        padding-left: 0px;
        float: left;
    }
    .logo p {
        font-size: 12px; /* You may have to tweak this to get a good fit */
        margin-top: 45px; /* You may have to tweak this to get a good fit */
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: 3px;
    }
.navbar_coca_cola {
        background-color: #760000; /* Set navbar background color */
        border:1px;
        border-color: yellow;
        border-width: 1;
        border-style: solid;
        border-width: 0px;
        min-height: 100px;
    }
    .navbar_coca_cola .navbar-brand {
        color: rgb(245, 235, 235);
    }
    .navbar_coca_cola .navbar-brand:hover {
        color: green;
    }
    .navbar_coca_cola .nav-item .nav-link{
        color: white;
    }
    .navbar_coca_cola .nav-link.dropdown-toggle{
        color: white;
    }

    .navbar_coca_cola .navbar-nav > li > a {
        color: white;
    }
    /* CSS rule to overwrite the bootstrap.css text hover color on the navbar
    */
    .navbar_coca_cola .navbar-nav > li > a:hover,
    .navbar_coca_cola .navbar-nav > li > a:focus {
        color: rgb(23, 0, 128);
    }
    .navbar_coca_cola .navbar-nav .nav-item {
        margin-top: 0px;
    }
    /* CSS rule to overwrite the bootstrap.css rules for setting the active
    font color and background colour
    */
    .navbar_coca_cola .navbar-nav .nav-item > .active,
    .navbar_coca_cola .navbar-nav > .active > a:hover,
    .navbar_coca_cola .navbar-nav > .active > a:focus {
        color: #1a0076; /* Font color for active font */
        background-color: #00993b; 
    }
    /* A set of CSS rules to change the Bootstrap defaults for the menu link
    text color, hover, background, focus
    */
    /* CSS rule to overwrite the bootstrap.css text hover color on the navbar
    */
    .navbar_coca_cola .navbar-nav > li > a:hover,
    .navbar_coca_cola .navbar-nav > li > a:focus {
        color: green;
    }

    /* These next two CSS rules control the style of the icon bar */
    .navbar_coca_cola .navbar-toggler {
        border-color: white;
    }
    .navbar_coca_cola  .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
.dropdown-menu {
        text-align: -webkit-left;
        background-color: #b6e7f3;
        margin-top: 20px; /* Experiment to move the dropdown menu down */
}
    .dropdown-menu .dropdown-item {
        color: #eb0025;
    }
    .dropdown-menu .dropdown-item:hover {
        color: #030303;
        background-color: #e98074;
    }
    .navbar_coca_cola .navbar-toggler {
        outline: none !important;
    }
    
    /* CSS rule to style the footer */
    .footer {
        color: #030303;
        background-color: #760003; /* Set navbar footer background color same as
        header */
        height: 50px;
    }
    .navbar-text > a {
        font-size: 10px;
    }
    .navbar-text > p {
        color: rgb(255, 255, 255);
        font-size: 14px;
        text-decoration: none;
    }
    .copyright {
        padding-top: 8px;
    }
    .fab {
        font-family: fo;
    }
    
    .social {
        padding-top: 0px;
        width: 30%;
    }
    .fa-twitter-square:before {
        content: "\f081";
        color: green;
        font-size: 1em;
    }
    .fa-github-square:before {
        content: "\f092";
        color: yellow;
        font-size: 1em;
    }
    .fa-google-plus-square:before {
        content: "\f0d4";
        color: blue;
        font-size: 1em;
    }
    .fa-facebook-square:before {
        content: "\f082";
        color: red;
        font-size: 1em;
    }
    .img-thumbnail {
        background: #fff0;
        padding: 0.25rem;
        margin-top: 5px;
        background-color: #fff0;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        max-width: 100%;
        height: auto;
        margin: 0px;
        }
    .gallery .img-thumbnail{
        background-color: #fff0;
        padding: 0.25rem;
        margin: 5px;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        max-width: 43%;
        height: auto;
    }

/* X-Small devices (portrait phones, less than 576px) */
/* No media query needed since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        font-size: 16px;
    }
    .main_contents {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 35px;
        padding-bottom: 10px;
    }
    .container {
        max-width: 100%;
    }
    #main_3d_image {
        height: 450px;
    }
    #main_text {
        width: 75%;
        margin: 2%;
    }
    #main_text h2 {
        font-size: 30px;
    }
    #main_text h3 {
        font-size: 22px;
    }
    #main_text p {
        font-size: 16px;
    }
    .card {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .card-text {
        font-size: 14px;
    }
    .logo h1, .logo h2 {
        font-size: 45px;
    }
    .logo h3 {
        font-size: 22px;
    }
    .logo p {
        font-size: 14px;
        margin-top: 42px;
    }
    .navbar_coca_cola {
        min-height: 90px;
    }
    .footer {
        height: 55px;
    }
    .navbar-text > a {
        font-size: 11px;
    }
    .navbar-text > p {
        font-size: 15px;
    }
    .copyright {
        padding-top: 10px;
    }
    .social {
        width: 35%;
    }
    .img-thumbnail {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        font-size: 17px;
    }
    .main_contents {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 40px;
        padding-bottom: 15px;
    }
    .container {
        max-width: 85%;
    }
    #main_3d_image {
        height: 400px;
    }
    #main_text {
        width: 65%;
        margin: 3%;
    }
    #main_text h2 {
        font-size: 32px;
    }
    #main_text h3 {
        font-size: 24px;
    }
    #main_text p {
        font-size: 17px;
    }
    .card {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .card-text {
        font-size: 15px;
    }
    .logo h1, .logo h2 {
        font-size: 48px;
    }
    .logo h3 {
        font-size: 24px;
    }
    .logo p {
        font-size: 15px;
        margin-top: 44px;
    }
    .navbar_coca_cola {
        min-height: 95px;
    }
    .footer {
        height: 60px;
    }
    .navbar-text > a {
        font-size: 12px;
    }
    .navbar-text > p {
        font-size: 16px;
    }
    .copyright {
        padding-top: 12px;
    }
    .social {
        width: 40%;
    }
    .img-thumbnail {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .btn-responsive {
        padding: 4px 9px;
        font-size: 60%;
        line-height: 1.2;
        white-space: normal !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        font-size: 18px;
    }
    .main_contents {
        margin-top: 25px;
        margin-bottom: 25px;
        padding-top: 45px;
        padding-bottom: 20px;
    }
    .container {
        max-width: 80%;
    }
    #main_3d_image {
        height: 500px;
    }
    #main_text {
        width: 60%;
        margin: 4%;
    }
    #main_text h2 {
        font-size: 35px;
    }
    #main_text h3 {
        font-size: 25px;
    }
    #main_text p {
        font-size: 18px;
    }
    .card {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .card-text {
        font-size: 16px;
    }
    .logo h1, .logo h2 {
        font-size: 50px;
    }
    .logo h3 {
        font-size: 26px;
    }
    .logo p {
        font-size: 16px;
        margin-top: 46px;
    }
    .navbar_coca_cola {
        min-height: 100px;
    }
    .footer {
        height: 65px;
    }
    .navbar-text > a {
        font-size: 13px;
    }
    .navbar-text > p {
        font-size: 17px;
    }
    .copyright {
        padding-top: 14px;
    }
    .social {
        width: 45%;
    }
    .img-thumbnail {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .btn-responsive {
        padding: 4px 9px;
        font-size: 60%;
        line-height: 1.2;
        white-space: normal !important;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        font-size: 19px;
    }
    .main_contents {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 50px;
        padding-bottom: 25px;
    }
    .container {
        max-width: 75%;
    }
    #main_3d_image {
        height: 550px;
    }
    #main_text {
        width: 55%;
        margin: 4%;
    }
    #main_text h2 {
        font-size: 37px;
    }
    #main_text h3 {
        font-size: 26px;
    }
    #main_text p {
        font-size: 19px;
    }
    .card {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .card-text {
        font-size: 17px;
    }
    .logo h1, .logo h2 {
        font-size: 55px;
    }
    .logo h3 {
        font-size: 28px;
    }
    .logo p {
        font-size: 17px;
        margin-top: 48px;
    }
    .navbar_coca_cola {
        min-height: 110px;
    }
    .footer {
        height: 70px;
    }
    .navbar-text > a {
        font-size: 14px;
    }
    .navbar-text > p {
        font-size: 18px;
    }
    .copyright {
        padding-top: 16px;
    }
    .social {
        width: 50%;
    }
    .img-thumbnail {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .btn-responsive {
        padding: 4px 9px;
        font-size: 70;
        line-height: 1.2;
        white-space: normal !important;
    }
}


    
    /* Lifted form the bootsrap.css file, and modified to emulate the nav-bar
    menu styling */
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: #760003; /* Font color for active font */
        background-color: #3399ff; /* Blue color for background */
        border-color: #dee2e6 #dee2e6 #fff;
    }
    .nav-tabs .nav-link {
        color: white;
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        }
        /* Added this to emulate the nav-bar link styling */
    .nav-tabs .nav-link:hover {
        color: green;
        border: 1px solid transparent;
    }
    
    .camera-btns {
        /* background-color: rgba(0, 0, 255, 0.3); */
        border-color: black;
        border-style: solid;
        border-width: 0px;
        margin-top: 0px;
        padding: 0px;
        }
    .camera-btns > p {
        font-size: 15px;
        color: red;
        padding-left: 0px;
        font-weight: 900;
    }
    .camera-font {
        font-weight: 400;
        color: white;
    }
    .camera-font:hover {
        font-weight: 700;
        color: rgb(3, 3, 3);
    }
    .btn-responsive {
        padding: 6px 10px;
        font-size: 90%;
        line-height: 1.2;
        white-space: normal !important;
    }
        